<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" [formGroup]="validatingTicketForm">
              <label>Ticket ID:</label>
              <div class="form-label-group">
                  <input type="number" class="form-control" required formControlName="id">
                <br>
                <div *ngIf="validatingTicketForm.valid">
                  <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="validate()">Check</button>
                </div>
                <div *ngIf="!validatingTicketForm.valid">
                  <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" [disabled]="!validatingTicketForm.valid">Check</button>
                </div>
              </div>
            </form>
          <hr class="my-4">
          <h5 class="card-title text-center">{{ticketState}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>