<hr>
<hr>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Hour Ticket</th>
      <th scope="col">Day Ticket</th>
      <th scope="col">Month Ticket</th>
      <th scope="col">Year Ticket</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Regular User</th>
      <td>{{price[0]}} RSD</td>
      <td>{{price[1]}} RSD</td>
      <td>{{price[2]}} RSD</td>
      <td>{{price[3]}} RSD</td>
    </tr>
    <tr>
      <th scope="col">Student</th>
      <td>{{price[4]}} RSD</td>
      <td>{{price[5]}} RSD</td>
      <td>{{price[6]}} RSD</td>
      <td>{{price[7]}} RSD</td>
    </tr>
    <tr>
      <th scope="col">Retired</th>
      <td>{{price[8]}} RSD</td>
      <td>{{price[9]}} RSD</td>
      <td>{{price[10]}} RSD</td>
      <td>{{price[11]}} RSD</td>
    </tr>
  </tbody>
</table>