
<body>
  <br><br><br>
  <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">
    
        <table align="center" class="table table-bordered" id="dataTable" width="1400px">
          <thead>
            <tr>
              <th></th>
              <th>Hour ticket</th>
              <th>Day ticket</th>
              <th>Week ticket</th>
              <th>Year ticket</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Regular user</td>
              <td>{{price[0]}} RSD</td>
              <td>{{price[1]}} RSD</td>
              <td>{{price[2]}} RSD</td>
              <td>{{price[3]}} RSD</td>
            </tr>
            <tr>
              <td>Student</td>
              <td>{{price[4]}} RSD</td>
              <td>{{price[5]}} RSD</td>
              <td>{{price[6]}} RSD</td>
              <td>{{price[7]}} RSD</td>
            </tr>
            <tr>
              <td>Retired</td>
              <td>{{price[8]}} RSD</td>
              <td>{{price[9]}} RSD</td>
              <td>{{price[10]}} RSD</td>
              <td>{{price[11]}} RSD</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>
</div>
  </body>