<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <div>
              <label class="label">Users pending approval: </label>
            </div>
            <div class="form-label-group">
                <select name="selectedUser" class="form-control" (change)="onSelectUser($event)">
                    <option *ngIf="users.length == 0">No pending reviews</option>
                    <option  *ngFor="let u of users" [value]="u.Email">{{u.Email}}</option>
                </select>
            </div>
            <form class="form-signin" [formGroup]="userForm" >
              <div class="form-label-group">
                <label>Name:</label>
                <input name="name" type="text" class="form-control" disabled formControlName="name">
              </div>
              <div class="form-label-group">
                <label>Last Name:</label>
                <input name="lastName" type="text" class="form-control" disabled formControlName="lastName">
              </div>
              <div class="form-label-group">
                <label>Email:</label>
                <input name="email" type="email" class="form-control" disabled formControlName="email">
              </div>
              <div class="form-label-group">
                <label>Address:</label>
                <input name="address" type="text" class="form-control" disabled formControlName="address">
              </div>
              <div class="form-label-group">
                <label>Date of birth:</label>
                <input name="date" type="date" class="form-control" disabled formControlName="dateOfBirth">
              </div><br>
              <div>
                  <img *ngIf="photo" [src]="photo" #imageControl style="width: 315px; height: 300px;">
              </div><br>
              <div >
                  <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="validate()">Validate</button>
                </div><br>
                <div >
                    <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="deny()">Deny</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>