<body><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                <input type="radio" checked name="operation" (click)="edit()">Edit pricelist
              </div>
              <div class="col-md-6">
                <input type="radio" name="operation" (click)="add()"> Create pricelist
              </div>
          </div>
          <br> 
          
          <form *ngIf="radioButton == 'edit'; else second_block" class="form-signin" [formGroup]="editPricelistForm">
            
            <label>From: </label>
            <div class="form-label-group">
              <input type="text" name="from" class="form-control" required formControlName="from">
            </div>
            <label>To: </label>
            <div class="form-label-group">
              <input type="text" name="to" class="form-control" required formControlName="to">
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>Hour: </label>
                  <div class="form-label-group">
                    <input type="text" name="hour" class="form-control" required formControlName="hour">
                  </div>
                </div>
                <div class="col-md-6">
                    <label>Day: </label>
                    <div class="form-label-group">
                      <input type="text" name="day" class="form-control" required formControlName="day">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <label>Month: </label>
                  <div class="form-label-group">
                    <input type="text" name="month" class="form-control" required formControlName="month">
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Year: </label>
                  <div class="form-label-group">
                    <input type="text" name="Year" class="form-control" required formControlName="year">
                  </div><br>
                </div>
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="editPricelist()">Edit pricelist</button>
            </div>
          </form>
          <ng-template #second_block>
              <form class="form-signin" [formGroup]="addPricelistForm">
                  <label>To: </label>
                  <div class="form-label-group">
                    <input type="date" name="to" class="form-control" required formControlName="to">
                  </div>
                  <label>Hour: </label>
                  <div class="form-label-group">
                    <input type="text" name="hour" class="form-control" required formControlName="hour">
                  </div>
                  <label>Day: </label>
                  <div class="form-label-group">
                    <input type="text" name="day" class="form-control" required formControlName="day">
                  </div>
                  <label>Month: </label>
                  <div class="form-label-group">
                    <input type="text" name="month" class="form-control" required formControlName="month">
                  </div>
                  <label>Year: </label>
                  <div class="form-label-group">
                    <input type="text" name="Year" class="form-control" required formControlName="year">
                  </div>
                  <br>
                  <div>
                      <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="addPricelist()">Add pricelist</button>
                  </div>
                </form>
          </ng-template>
        </div>
      </div>
    </div>
    
      </div>
  </div>

</body>