<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <form class="form-signin" [formGroup]="editPricelistForm"><br><br>
            <div class="form-label-group">
              <label>From: </label>
              <input type="text" name="from" class="form-control" required formControlName="from">
            </div>
            <div class="form-label-group">
              <label>To: </label>
              <input type="text" name="to" class="form-control" required formControlName="to">
            </div>
            <div class="form-label-group">
              <label>Hour: </label>
              <input type="text" name="hour" class="form-control" required formControlName="hour">
            </div>
            <div class="form-label-group">
              <label>Day: </label>
              <input type="text" name="day" class="form-control" required formControlName="day">
            </div>
            <div class="form-label-group">
              <label>Month: </label>
              <input type="text" name="month" class="form-control" required formControlName="month">
            </div>
            <div class="form-label-group">
              <label>Year: </label>
              <input type="text" name="Year" class="form-control" required formControlName="year">
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="editPricelist()">Edit pricelist</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" [formGroup]="addPricelistForm"><br><br>
              <div class="form-label-group">
                <label>To: </label>
                <input type="date" name="to" class="form-control" required formControlName="to">
              </div>
              <div class="form-label-group">
                <label>Hour: </label>
                <input type="text" name="hour" class="form-control" required formControlName="hour">
              </div>
              <div class="form-label-group">
                <label>Day: </label>
                <input type="text" name="day" class="form-control" required formControlName="day">
              </div>
              <div class="form-label-group">
                <label>Month: </label>
                <input type="text" name="month" class="form-control" required formControlName="month">
              </div>
              <div class="form-label-group">
                <label>Year: </label>
                <input type="text" name="Year" class="form-control" required formControlName="year">
              </div>
              <div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="addPricelist()">Add pricelist</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>