<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <select class="form-control" (change)="ticketTypeChanged($event)">
        <option>HourTicket</option>
        <option *ngIf="loggedIn">DayTicket</option>
        <option *ngIf="loggedIn">MonthTicket</option>
        <option *ngIf="loggedIn">YearTicket</option>
      </select><br>
      <label class="form-control">Price: {{price}} RSD</label>
    </div><br>
    <button class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="buyTicket()">Buy Ticket</button>
  </div>
  <br />
</div>