<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <select class="form-control" (change)="ticketTypeChanged($event)">
            <option>HourTicket</option>
            <option *ngIf="loggedIn">DayTicket</option>
            <option *ngIf="loggedIn">MonthTicket</option>
            <option *ngIf="loggedIn">YearTicket</option>
          </select><br>
          <label class="form-control">Price: {{price}} RSD</label><br>
          <form class="form-signin" [formGroup]="emailForm">
            <div *ngIf="!loggedIn">
                <input formControlName="email" name="email" type="email" required class="form-control" placeholder="Email"  required>
            </div><br>
          </form>
          <div *ngIf="email==''">
            <button  class="btn btn-lg btn-primary btn-block text-uppercase active" disabled >Buy Ticket</button>
          </div>
          <div *ngIf="email!=''">
              <button  class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="buyTicket()">Buy Ticket</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>