<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <div>
                <label>Line: </label>
            </div>
            <div class="form-label-group">
              <select name="selectedStation" class="form-control" (change)="onSelect($event)">
                <option></option>
                <option  *ngFor="let l of lines" [value]="s.Id">{{l.Name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>