<body>
    <br><br>

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
               <!-- Background image for card set in CSS! <img  src="../../../favicon.ico"/> -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">REGISTER</h5>
              <form class="form-signin" [formGroup]="regForm" (ngSubmit)="register()">
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-label-group">
                          <input type="text" class="form-control" required placeholder="First name" formControlName="name" autofocus>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-label-group">
                          <input type="text" class="form-control" required placeholder="Last name" formControlName="lastName">
                        </div>
                  </div>
                </div>
                
                <div class="form-label-group">
                    <input type="text" class="form-control" required placeholder="Home address" formControlName="address">
                  </div>

                <div class="form-label-group">
                  <input type="email" class="form-control" required placeholder="Email address" formControlName="email">
                </div>
                
                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  </div>
                  
                  <div class="form-label-group">
                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
                  </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-label-group" id="date">
                            <input type="date" class="form-control" required placeholder="Date of birth" formControlName="dateOfBirth">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <select class="select" id="selectLabel" formControlName="userType" required (change)="onSelect($event)">
                            <option value="RegularUser">Regular user</option>
                            <option value="Student">Student</option>
                            <option value="Retired">Retired</option>
                          </select>
                    </div>
                </div>
                
                
                <div *ngIf="userType=='Student' || userType=='Retired'; else other_content" >
                    <div class="form-label-group">
                      <div class="custom-file">
                        <input name="photo" type="file" accept="image/*"  class="custom-file-input" (change)="onImageChange($event)" formControlName="photo">
                        <label class="custom-file-label">Choose photo</label>
                      </div>
                    </div>
                  </div>
                  <ng-template #other_content>
                      <div class="form-label-group">
                          <div class="custom-file">
                            <br>
                          </div>
                        </div>
                  </ng-template>
                <br>
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>