<body><br><br>
    <div class="container">
      <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
            
              <h5 class="card-title text-center">Profile info</h5>
              <form class="form-signin" [formGroup]="profileForm" (ngSubmit)="edit()">
                  <div class="row">
                      <div class="col-md-6">
                        <label>First name:</label>
                        <div class="form-label-group">
                          <input type="text" class="form-control" required placeholder="Enter your first name" formControlName="name">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label>Last name:</label>
                        <div class="form-label-group">
                            <input type="text" class="form-control" required placeholder="Enter your last name" formControlName="lastName">
                        </div>
                      </div>
                    </div>
  
                <label>Email address:</label>
                <div class="form-label-group">
                  <input type="email" class="form-control" required placeholder="Enter your email address" formControlName="email">
                </div>
                <label>Address:</label>
                <div class="form-label-group">
                    <input type="text" class="form-control" required placeholder="Enter your address" formControlName="address">
                </div>
                <label>Date of birth:</label>
                <div class="form-label-group">
                    <input type="date" class="form-control" required formControlName="dateOfBirth">
                </div>
                <label>User type:</label>
                <select id="selectLabel" class="form-control" formControlName="userType">
                  <option value="0">Regular user</option>
                  <option value="1">Student</option>
                  <option value="2">Retired</option>
                </select><br>
                <hr>
                <div *ngIf="this.profileForm.controls.userType.value == 1 || this.profileForm.controls.userType.value == 2" class="form-label-group">
                    <div>
                        <div>
                          <input formControlName="photo" type="file" accept="image/*"  (change)="onImageChange($event)">
                        </div>
                    </div>
                </div> 
                <div><br></div>      
                
                <div *ngIf="profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Save</button>
                  </div>
                  <div *ngIf="!profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" disabled >Save</button>
                  </div>
                <br>
                <div *ngIf="userRole == 'AppUser'">
                    <a class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="deleter()">Delete</a>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>