<body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Profile info</h5>
              <form class="form-signin" [formGroup]="profileForm" (ngSubmit)="edit()">
                <div class="form-label-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" required placeholder="{{firstName}}" formControlName="name">
                </div>
                <div class="form-label-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" required placeholder="Enter Last Name" formControlName="lastName">
                </div>
  
                <div class="form-label-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" required placeholder="Email address" formControlName="email">
                </div>
                <div class="form-label-group">
                    <label>Address</label>
                    <input type="text" class="form-control" required placeholder="Enter address" formControlName="address">
                </div>
                <div class="form-label-group">
                    <label>Date Of Birth</label>
                    <input type="date" class="form-control" required formControlName="dateOfBirth">
                </div>
                <hr>
                <div *ngIf="this.profileForm.controls.userType.value == 1 || this.profileForm.controls.userType.value == 2" class="form-label-group">
                    <div>
                        <div>
                          <input formControlName="photo" type="file" accept="image/*"  (change)="onImageChange($event)">
                        </div>
                    </div>
                </div> 
                <div><br></div>      
                
                <div *ngIf="profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase active" type="submit">Edit</button>
                  </div>
                  <div *ngIf="!profileForm.valid">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase disabled" disabled >Edit</button>
                  </div>
                <br>
                <div *ngIf="userRole == 'AppUser'">
                    <a class="btn btn-lg btn-primary btn-block text-uppercase active" (click)="deleter()">Delete</a>
                  </div>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>